<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            					<p>An enthusiastic, energetic, passionate software engineer. 7+ years of professional experience developing robust code for mobile apps and video games.</p>
					<p>I love to write software that delivers fluid and seamless customer experience, with deliberate attention to little details. I work closely with artists, graphic designers and back-end engineers in order to make sure I deliver top notch state of art secure app with high speed loading times.</p>

					    <p>My latest personal project is “ThinkEatLift”. Feel free to take a look at my <span><a class="nonblock" href="http://github.com/shbli" target="_blank"><span id="u3126-8">Github</span></a></span><span id="u3126-11"> or connect with me on <span><a class="nonblock" href="https://kw.linkedin.com/in/shbli" target="_blank"><span id="u3126-8">LinkedIn</span></a></span><span id="u3126-11">.</p>

        </p>
    </div>
</div> <!-- / section -->
